{% extends "layout.html" %}

{% block content %}
    <div class="col-md-offset-3 col-md-6 form-div">
        <form action="{{ url_for('choose_metric') }}" class="repo-form" style="width: 75%" method="post" novalidate>
            {{ form.hidden_tag() }}
        <h3 style="width: 100%; text-align: center; margin-bottom: 20px;">Choose the metrics:</h3>
            {% for error in form.submit.errors %}
            <div class="has-error">
                <span class="help-block">{{ error }}</span>
            </div>
            {% endfor %}
            <div class="form-check">
                {{ form.comments_or_documentation(class_="form-check-input") }}
                <label class="form-check-label" for="{{ form.comments_or_documentation.id_for_label }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ form.comments_or_documentation.label }}
                </label>
            </div>
            <div class="form-check">
                {{ form.no_of_methods_per_class(class_="form-check-input") }}
                <label class="form-check-label" for="{{ form.no_of_methods_per_class.id_for_label }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ form.no_of_methods_per_class.label }}
                </label>
            </div>
            <div class="form-check">
                {{ form.cyclomatic_complexity(class_="form-check-input") }}
                <label class="form-check-label" for="{{ form.cyclomatic_complexity.id_for_label }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ form.cyclomatic_complexity.label }}
                </label>
            </div>
            <div class="form-check">
                {{ form.no_of_collaborators_per_file(class_="form-check-input") }}
                <label class="form-check-label" for="{{ form.no_of_collaborators_per_file.id_for_label }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ form.no_of_collaborators_per_file.label }}
                </label>
            </div>
            <div class="form-check">
                {{ form.lines_of_code(class_="form-check-input") }}
                <label class="form-check-label" for="{{ form.lines_of_code.id_for_label }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ form.lines_of_code.label }}
                </label>
            </div>
            <div class="form-check">
                {{ form.class_hierarchy_level(class_="form-check-input") }}
                <label class="form-check-label" for="{{ form.class_hierarchy_level.id_for_label }}">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ form.class_hierarchy_level.label }}
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    {{ form.submit(class_="btn btn-info", style="margin-top:30px; display:block; width:100%") }}
                </div>
            </div>
        </form>
    </div>

{% endblock %}
