{% extends "layout.html" %}

{% block head_content %}

{% if flag == "1" %}
<script>

    var source = new EventSource("/progress/{{repo_name}}/{{owner}}/{{token}}/{{repo_url}}");

    source.onmessage = function(event) {

        $("#repo-form-div").hide();
        $(".files").show();
        $("#spinner").show();
        if(event.data === "99"){
            source.close();
            $(".files").hide();
            $("#spinner").hide();
            $("#repo-form-div").show();
            $("#repo-url-div").addClass("has-error");
            $("#repo-url-error").show();
        }
        if(event.data === "100"){
            source.close();
            window.location.replace("{{ url_for('choose_metric') }}");
        }
        $('.progress-bar-label').text(event.data+'');

    }

</script>
{% endif %}

{% endblock %}


{% block content %}

    <div class="col-md-offset-2 col-md-8 form-div" id="repo-form-div">
        <form action="{{ url_for('index') }}" method="post" class="repo-form" id="repo-form" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group {% if form.repo_url.errors %} has-error {% endif %} row" id="repo-url-div">
                <label class="col-md-3 col-form-label col-form-label-lg" for="{{ form.repo_url.id_for_label }}">
                    Repo URL:
                </label>
                <div class="col-md-9">
                    {{ form.repo_url(class_="form-control form-control-lg", style="max-width:100%") }}
                    <span class="help-block" id="repo-url-error" style="display: none">URL does not exist</span>
                    {% for error in form.repo_url.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div id="access-token-div" class="form-group {% if form.access_token.errors %} has-error {% endif %} row">
                <label class="col-md-3 col-form-label col-form-label-lg" for="{{ form.access_token.id_for_label }}">
                    Access Token:
                </label>
                <div class="col-md-9">
                    {{ form.access_token(class_="form-control form-control-lg",  style=" max-width:100%") }}
                    {% for error in form.access_token.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-3 col-md-6" style="margin-top: 25px;">
                  {{ form.submit(class_="btn btn-info", style="display:block; width:100%") }}
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-offset-5 col-md-2" style="margin-top: 20px; display: none" id="spinner">
        <div class="loader"></div>
    </div>
    <div class="col-md-offset-2 col-md-8 files" style="display: none">
        <span class="progress-bar-label"></span>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}